header{
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
    background-size: cover;
    background-position: center;
    margin-bottom: 2%;
    padding: 2%;
    border-style:groove;
}

img{
  width: 20%;
}

a {
    margin: 0 10px;
    color:  linear-gradient(to right, #971f42 45%,#fbbe0f 60%, #432a80 0%);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: #971f42;
    text-decoration: underline;
  }