.main{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.cards_item {
  display: flex;
  width: 25%;
  
}

@media (min-width: 40rem) {
  .cards_item {
    // width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    // width: 33.3333%;
  }
}