<div class="landing-block">
  <h1 class="text">UML (Unified Modeling Language)</h1>
    <p>Bienvenue sur notre plateforme dédiée à UML et à la méthode Merise !
      <br>
      Explorez nos ressources complètes pour maîtriser ces deux méthodologies essentielles de 
      conception et de modélisation informatique. Que vous soyez débutant ou expert, notre site vous offre des guides, des exemples concrets, des études de cas et une communauté active pour vous accompagner dans votre parcours.
      <br>
      Commencez dès maintenant à améliorer vos compétences en UML et en Merise pour créer des systèmes informatiques robustes et efficaces. Bonne découverte !
    </p>
    <div class="landing-links">
      <button (click)="onContinueUml()">UML</button>
      <button (click)="onContinueMerise()">Merise</button>
    </div>
  </div>

